In [46]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy

In [47]:
csv_file = "postgres_zip_city.csv"
customer_data_df = pd.read_csv(csv_file)
customer_data_df.head()

         city    zip    state population
0  Birmingham  35203  Alabama    231,483
1  Huntsville  35813  Alabama    166,313
2      Mobile  36601  Alabama    191,544
3  Montgomery  36119  Alabama    200,127
4   Anchorage  99599   Alaska    275,043

In [48]:
customer_data_df= customer_data_df.reset_index()

In [49]:
rds_connection_string = "bedlgjelgbrcba:62edbf5e39edf1ea129a38a5766d7354579374a6db487103a421c76fd47d78c3@ec2-184-73-232-93.compute-1.amazonaws.com:5432/dd4i4baf4sjibo"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [50]:
engine.table_names()

['test', 'zip_vs_coordinates']

In [44]:
# pd.read_sql_query('select * from city_zip_data', con=engine).head()

In [51]:
customer_data_df.to_sql('city_zip_data', engine, dtype={col_name: sqlalchemy.types.VARCHAR for col_name in customer_data_df})